#app {
  height: 100%;
  position: relative;
  overflow-x: hidden !important;
  background: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

// 字体
@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../assets/font/HarmonyOS_SansSC_Bold.ttf');
}